# OS
.DS_Store
Thumbs.db

# Node
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log*

# Environment
.env
.env.*
!.env.example

# IDE
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build
dist
dist-ssr
target/
Tauri/docs

docs/

.github/